.home {
   position: relative;
   top: 80px;
   left: 80px;
   width: calc(100% - 80px);
   height: 100%;
   background-color: #fafafa;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 25px;

   .stats-section {
      height: calc(100vh - 80px - 53px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0vh;

   }

}