#root {
  background-color: #F3F1EF;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}