.history {
   position: relative;
   top: 80px;
   left: 80px;
   width: calc(100% - 80px);
   height: calc(100vh - 80px);
   background-color: #fafafa;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0 80px;
}